


/* Overall */
#portfolio{
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 88px;
    overflow: clip;
    box-sizing: border-box;
}
/* Header */
.portfolio__header{
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}
.portfolio__header h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
}
.portfolio__header h2::before{
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: 
    color-mix(in srgb, var(--default-color), transparent 60%);
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;    
}
.portfolio__header h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


/* Container */
 .portfolio__container{
    max-width: 1320px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
 }


/* Tab-Bar */
.portfolio__tab {
    display: flex;
    justify-content: center;  
    align-items: center;       
    gap: 10px;                 
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;          
}
.portfolio__tab li {
    cursor: pointer;
    display: flex;                     
    justify-content: center;         
    align-items: center;             
    padding: 8px 20px 10px 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    border-radius: 50px;
    font-family: var(--heading-font);
    white-space: nowrap;           
    transition: all 0.3s ease-in-out;     
}
.portfolio__tab li label {
  display: block;     
  width: 100%;
  height: 100%;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
}
.portfolio__tab li:first-child {
    margin-left: 0;
}

/* Images */
/* make input invisible */
input[type="radio"] {
  display: none;
}
.portfolio__product {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: auto;
  gap: 24px;
  margin-top: 40px;

}
/* .portfolio__product .items {
  position: relative;
  display: block;
  width: 100%;
} */



.portfolio__product .items {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, 100px, 0) scale(0.6);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
/* 마지막 유지 상태 */
.portfolio__container:has(#all:checked) .portfolio__product .items,
.portfolio__container:has(#app:checked) .portfolio__product .items.app,
.portfolio__container:has(#card:checked) .portfolio__product .items.card,
.portfolio__container:has(#web:checked) .portfolio__product .items.web{
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
}


.portfolio__container:has(#all:checked) #content1 { grid-column: 1; grid-row: 1 / span 2; }
.portfolio__container:has(#all:checked) #content2 { grid-column: 2; grid-row: 1; }
.portfolio__container:has(#all:checked) #content3 { grid-column: 3; grid-row: 1; }
.portfolio__container:has(#all:checked) #content4 { grid-column: 2; grid-row: 2; }
.portfolio__container:has(#all:checked) #content5 { grid-column: 3; grid-row: 2 / span 2; }
.portfolio__container:has(#all:checked) #content6 { grid-column: 1; grid-row: 3 / span 2; }
.portfolio__container:has(#all:checked) #content7 { grid-column: 2; grid-row: 3; }
.portfolio__container:has(#all:checked) #content8 { grid-column: 3; grid-row: 4; }
.portfolio__container:has(#all:checked) #content9 { grid-column: 2; grid-row: 4; }


.portfolio__container:has(#app:checked) #content1{
  grid-column: 1; grid-row: 1;

}
.portfolio__container:has(#app:checked) #content4{
  grid-column: 2; grid-row: 1 ;
}
.portfolio__container:has(#app:checked) #content7{
  grid-column: 3; grid-row: 1 ;
}
.portfolio__container:has(#card:checked) #content2 {
  grid-column: 1; grid-row: 1;
}
.portfolio__container:has(#card:checked) #content5{
  grid-column: 2; grid-row: 1;
}
.portfolio__container:has(#card:checked) #content8{
  grid-column: 3; grid-row: 1;
}
.portfolio__container:has(#web:checked) #content3{
  grid-column: 1; grid-row: 1;
}
.portfolio__container:has(#web:checked) #content6{
  grid-column: 2; grid-row: 1;
}
.portfolio__container:has(#web:checked) #content9{
  grid-column: 3; grid-row: 1;
}

.portfolio__container:has(#all:checked) label[for="all"],
.portfolio__container:has(#app:checked) label[for="app"],
.portfolio__container:has(#card:checked) label[for="card"],
.portfolio__container:has(#web:checked) label[for="web"] {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  border-radius: 50px;
}

.portfolio__tab label:hover {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  border-radius: 50px;
}
.portfolio__product img {
  width: 100%;
  height: auto;
  display: block;
}


/* Info bar */
 .portfolio__product .img__wrapper{
    position: relative;
 }
.portfolio__product .info__bar{
    position: absolute;
    bottom:0;
    left: 0px;
    right: 0px;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    background: color-mix(in srgb, var(--background-color), transparent 10%);
    padding: 15px;
}
.portfolio__product .items:hover .info__bar{ 
    opacity: 1;
    bottom: 0;
}
.portfolio__product .info__bar h4{
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}
.portfolio__product .info__bar p{
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 50px;
    margin-top: 0;
}
.portfolio__product .link{
    font-size: 24px;
    position: absolute;
    right: 50px;
    top: calc(50% - 14px);
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    line-height: 0;
}
.portfolio__product .link:hover, .portfolio__product .detail__link:hover {
    color: #007bff;
}
.portfolio__product .detail__link{
    right: 14px;
    font-size: 24px;
    position: absolute;
    top: calc(50% - 14px);
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    transition: 0.3s;
    line-height: 0;
}



